.year {
    padding-top: 282px;
    /* Mobile XS */
    @media (max-width: 599px) {
        padding-top: 51px;
    }

    .container {
        padding-left: 10px;
        padding-right: 10px;
    }
}

.year-content {
    display: flex;
    column-gap: 135px;

    /* Mobile XS */
    @media (max-width: 599px) {
        flex-direction: column;
        row-gap: 64px;

    }
}

.year-content__left {
    width: 585px;
    height: 236px;

    /* Mobile XS */
    @media (max-width: 599px) {
        width: 343px;
        height: 217px;
        text-align: center;
    }
}

.year-content__title {
    color: #FFF;
    font-family: Montserrat;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-bottom: 32px;

    /* Mobile XS */
    @media (max-width: 599px) {
        font-size: 32px;
    }
}
.year-content__text {
    color: #FFF;
    font-family: Montserrat;
    font-size: 18px;
    font-style: normal;
    font-weight: 300;
    line-height: 1.4;
    margin-bottom: 32px;

    /* Mobile XS */
    @media (max-width: 599px) {
        font-size: 14px
    }
}
.year--button {
    padding: 13px 90px 13px 74px;
}
.year-content__right {
    width: 485px;

    /* Mobile XS */
    @media (max-width: 599px) {
        width: 344px;
    }
}
.year-content__img {
        width: 485px;
        height: 333px;
        //object-fit: cover;
        object-position: center;

        /* Mobile XS */
    @media (max-width: 599px) {
        width: 344px;
        height: 236px;
    }
}